<div class="content banner">
    <h1><a href="./" class="title">Chimbridge Dictionary</a></h1>
    <h2><a href="./" class="title">of <span class="stark">Singlish</span> & <span class="stark">Singaporean Terminology</span></a></h2>
</div>