<footer>
    <div class="footer">
        <div class="footer-content">
            <p>© kaanaas (klingonpigeon) 2024</p>
            <p>•</p>
            <p>Contact me</p>
            <p>•</p>
            <a href="./sources">Sources</a>
        </div>        
    </div>
</footer>