<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chimbridge Singlish Dictionary</title>

    <link type="image/png" sizes="96x96" rel="icon" href="images/icons8-dictionary-96.png">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Prata&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Prata&display=swap"
        rel="stylesheet">
    <link href="https://tauhu.tw/tauhu-oo-bold.css" rel="stylesheet">
    <link href="https://tauhu.tw/tauhu-oo.css" rel="stylesheet">
    <!-- <link href="https://db.onlinewebfonts.com/c/b4a89f5837a3f561b244965550593f37?family=SimSun" rel="stylesheet"> -->
    <!-- <link href="https://db.onlinewebfonts.com/c/417a85ff314928adc67e51bb1b458f04?family=SimSun-ExtB" rel="stylesheet"> -->

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <script src="https://kit.fontawesome.com/d813c2b1a8.js" crossorigin="anonymous"></script>
    <!-- <%- include("./functions.ejs")  %> -->
</head>