<div class="more-options">
    <p class="more-options-p" id="anyhow-whack" tabindex="0">Anyhow whack</p>
    <a href="./langs">Languages of Origin</a>
    <a href="./word_request">Word Request</a>
</div>