<div class="more-options">
    <p class="more-options-p" id="anyhow-whack" tabindex="0">Anyhow whack</p>
    <a href="https://www.wiktionary.org">Wiktionary</a>
    <a href="./word_request">Word Request</a>
</div>