<nav class="more-options">
    <p class="more-options-p" id="anyhow-whack" tabindex="0">Anyhow whack</p>
    <a href="./letter">A-Z</a>
    <a href="./cat">Categories</a>
    <a href="./langs">Languages of Origin</a>
</nav>