<br>
<hr class="hr-pale">

<div class="result">
    <div class="not-found">
        <h4>searches starting with</h4>
        <h3 class="">'<%= searchInput %>'</h3>
    </div>
    <ul class="prefix-list">
    <% for(let i = 0; i < prefixResult.length; i++){ %>    
        <li><a href="./?q=<%= prefixResult[i] %>"><%= prefixResult[i] %></a></li>
    <% } %>
    </ul>
</div>