<div class="search-container">
    <form action="./" method="get" id="search-form" autocomplete="off">
        <div class="content search-type-wrapper">
            <div class="search-type-option-div">
                <input type="radio" id="sg-sg" name="stype" class="search-type-radio" value="sg" <%= (typeof checkedEn == 'undefined' && typeof checkedZh == 'undefined') ? "checked": '' %>>
                <label for="sg-sg">Search Singlish Entries</label>
            </div>
            <div class="search-type-option-div">
                <input type="radio" id="en-sg" name="stype" class="search-type-radio" value="en" <%= typeof checkedEn != 'undefined' ? "checked" : '' %>>
                <label for="en-sg">Search Entries using English</label>
            </div>
        </div>
        <div class="search-form">
            <div class="search-box">
                <input type="text" id="search-input" name="q" placeholder="What thing?" autofocus>
            </div>
            <button class="search-button" id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>
    <%- include("./more_options") %>
</div>

<script>
    const searchBar = document.getElementById("search-input");
    const whack = document.getElementById("anyhow-whack");
    
    // search bar character limiting
    searchBar.addEventListener("input", () => {
        let searchInput = document.getElementById("search-input").value;
        if (/[^a-zA-Z0-9 ,'\-$&]/.test(searchInput)) {
            alert("Only alphanumeric characters, spaces, hyphens, apostrophes, and certain limited special characters are allowed.");
            searchBar.value = searchInput.replace(/[^a-zA-Z0-9 ,'\-$&]/g, '');
        }
    });

    whack.addEventListener("click", () => {
        fetch("dict/dict.json")
            .then((response) => response.json())
            .then((data) => {
                var keys = Object.keys(data);
                var randWord = keys[keys.length * Math.random() << 0]; // console.log(randWord);
                window.location.href = `./?q=${randWord}`;
            });
    });
</script>