<div class="search-container">
    <form class="search-form" action="./" method="get" id="search-form" autocomplete="off">
        <div class="search-box">
            <input type="text" id="search-input" name="q" placeholder="What thing?">
        </div>
        <button class="search-button" id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <%- include("./more_options") %>
</div>