<div class="card-wrapper wotd-wrapper">
    <h2 class="landing-header wotd-header">Word of the Day:</h2>
    <div class="wotd-divider">
        <hr>
        <i class="fa-solid fa-crow"></i>
        <hr>
    </div>
    <h1 class="wotd"><%- wotd.trim() %></h1>
    <p class="wotd-more more" onclick="window.location.href = `./?q=<%- wotd %>`">See definitions, etymology, & more&ensp;➼</p>
</div>