# Dev build
views/dict_insert.ejs
views/detail_insert.ejs
views/index_old.ejs
app_detail.js
app_dict_insert.js


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

/node_modules
.env
.vercel