# Dev build
views/dict_insert.ejs
views/detail_insert.ejs
views/index_old.ejs
app_detail.js
app_dict_insert.js
gen_AZ.js
gen_cat.js
gen_lang.js
detail_cleanup.js
dict_cleanup.js
reverse_index.js
public/css/styles_insert.css
public/dict/dict_simple.json
public/dict/dict*copy.json
public/dict/details*copy.json
public/dict/details*BU.json
production.bat

# fonts
public/css/fonts/NSimSun.ttf
public/css/fonts/SimSun.ttf
public/css/fonts/SimSunB.ttf


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

/node_modules
.env
.vercel