<!DOCTYPE HTML>
<html lang="en">
    <%- include("./partials/head") %>

    <body>
        <%- include("./partials/banner") %>

        <div class="content">
            <div class="def-box">
                <h2 class="subpage-title">404 Not Found!</h2>
            </div>
        </div>

        <%- include("./partials/footer") %>

    </body>

</html>