<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dict Insert</title>
    
        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Prata&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Prata&display=swap"
            rel="stylesheet">
    
        <!-- Stylesheet -->
        <link rel="stylesheet" href="css/style.css">
        <style></style>
    
        <script src="https://kit.fontawesome.com/d813c2b1a8.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="content banner">
            <h1><a href="./" class="title">Dictionary Insert</a></h1>
        </div>
        <div class="content">
            <form action="./" method="get" autocomplete="off">
                <div>
                    <label>Major form:</label>
                    <input type="text" id="major-form" name="main" placeholder="main" required autofocus onfocus="this.select()">
                </div>
                <div>
                    <label>Alternatives:</label>
                    <input type="text" id="alts" name="alts" placeholder="alts">
                </div>
                <button class="search-button" id="search-button">Add Entry</button>
            </form>
        </div>
        <form action="./" method="get" autocomplete="off">
            <button class="search-button" name="sort" type="submit">Sort</button>
        </form>

        <%- include("./partials/footer") %>

    </body>

</html>