:root {
    --bg: #A02333;
    --bg-darken: #951818;
    --bg-shadow-solid: #401313;
    --bg-shadow: #40131355;
    --offwhite: #f5f5fd;
    --black: #2c0912;
    --grey: #8a767d;
    --purp: #6b3488;
    --subh: #b99725;
    --subh-lighter: #d8be8a;
    --subh-lightest: #f0daaf;
    --subh-darker: #997705;
    --grey-green: #6d946d;
    --grey-red: #b46d8d;
    --grey-red-pale: #d3c2c9;
}

@font-face {
    font-family: "SimSunCut";
    src: url("./fonts/SimSunCut.woff2")format("woff2"),
}

@font-face {
    font-family: "Prata";
    src: url("./fonts/Prata.ttf")format("ttf"),
}

/* @font-face {
    font-family: "SimSun";
    src: url("https://db.onlinewebfonts.com/t/b4a89f5837a3f561b244965550593f37.eot");
    src: url("https://db.onlinewebfonts.com/t/b4a89f5837a3f561b244965550593f37.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/b4a89f5837a3f561b244965550593f37.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/b4a89f5837a3f561b244965550593f37.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/b4a89f5837a3f561b244965550593f37.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/b4a89f5837a3f561b244965550593f37.svg#SimSun")format("svg");
}

@font-face {
    font-family: "SimSun-ExtB";
    src: url("https://db.onlinewebfonts.com/t/417a85ff314928adc67e51bb1b458f04.eot");
    src: url("https://db.onlinewebfonts.com/t/417a85ff314928adc67e51bb1b458f04.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/417a85ff314928adc67e51bb1b458f04.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/417a85ff314928adc67e51bb1b458f04.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/417a85ff314928adc67e51bb1b458f04.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/417a85ff314928adc67e51bb1b458f04.svg#SimSun-ExtB")format("svg");
} */

html {
    background-color: var(--bg);
}

body {
    margin: 20px auto;
    padding: 0 20px;
}

.sameRow {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

:not(ex) {
    font-family: "Literata";
}

p,
h1,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "SimSunCut", "Literata";
}

p {
    word-wrap: break-word;
}

a {
    color: var(--purp);
}

ol {
    margin-top: .5em;
    margin-bottom: .5em;
}

ol li {
    margin-bottom: 0.25em;
    margin-top: 0.75em;
}

h2 {
    margin-top: .33rem;
    margin-bottom: .75em;
}

br {
    content: "";
    display: block;
    margin: 0.4em;
}

.hr-pale {
    height: 0px;
    border-top: 1px solid var(--grey-red-pale);
    max-width: 93%;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.ref {
    font-size: 0.75em;
    color: var(--grey-green);
    text-decoration: none!important;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

sub {
    color: var(--grey-red);
}

/* custom content classes */

.text {
    color: var(--black);
    text-align: justify;
    /* text-indent: 1em; */
}

.cn-fallback {
    font-family: inherit,
        "SimSunCut",
        "SimSun-ExtB"
        "SimSun",
        SimSun,
        SimSun-ExtB;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 0.95em;
    flex-direction: column;
    text-shadow: 0 2px 4px var(--bg-shadow-solid);
    transition: .5s;
}

.banner:hover {
    text-shadow: 0 4px 8px var(--bg-shadow-solid);
}

.banner h2 {
    font-size: 1em;
}

.banner h2 a {
    color: var(--subh);
}

.banner span {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

.banner .stark {
    color: var(--subh-lightest);
}

.title {
    font-size: 1.25em;
    color: var(--offwhite);
    font-family: "Prata";
}

.subpage-title {
    font-size: 1.5em;
    color: var(--black);
    font-family: "Prata";
    position: relative;
    text-align: center;
}

.small-caps {
    font-variant: small-caps;
}

/* definition box */
.def-box {
    background-color: var(--offwhite);
    border-radius: 1em;
    padding: 2vmin;
    padding-bottom: 2.5em;
    min-width: 92vmin;
    box-shadow: 0 2em 4em var(--bg-shadow);
}

@media screen and (orientation: landscape) {
    .def-box {
        width: 98vmax;
    }
}

@media screen and (orientation: portrait) {
    .def-box {
        width: 97vmin;
    }
}

@media screen and (min-width: 800px) {
    .def-box {
        max-width: 96vmin;
    }
}

/* search */
.search-container {
    position: relative;
    padding-bottom: 1em;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 0;
}

.search-box {
    padding: 0.5em;
    align-self: left;
    min-width: 66%;
}

input[type=text] {
    padding: 1em 1em;
    box-sizing: border-box;
    border: none;
    font-size: 1em;
    width: 100%;
}

.search-button {
    padding: .66em .66em;
    align-items: center;
    color: var(--offwhite);
    background-color: var(--bg);
    font-family: "Literata";
    font-weight: bold;
    font-size: 1.25em;
    border: none;
    border-radius: 0.75rem;
}

.search-button:hover {
    background-color: var(--bg-darken);
    box-shadow: 0 2px 8px var(--bg-shadow);
}

.search-type-wrapper {
    position: relative;
    margin: auto;
    padding: .75em 5em 0 1em;
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-type-option-div {
    cursor: pointer;
}

.search-type-wrapper label {
    font-family: "Crimson Text";
    color: var(--bg-darken);
    cursor: pointer;
    text-wrap: nowrap;
}

.search-type-radio {
    cursor: pointer;
}

/* more options bar */
.more-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5vmin;
    margin-right: 5vmin;
    flex-wrap: wrap;
}

.more-options a, 
.more-options p {
    color: var(--subh);
    margin: 0 1em 0.5em 1em;
    font-size: 0.85em;
    font-family: "Prata";
    /* font-style: italic; */
    z-index: 3;
    cursor: pointer;
    text-wrap: nowrap;
}

/* result */
.result {
    position: relative;
    padding: 1.5vmin;
    margin-left: 2vmin;
    margin-right: 2vmin;
}

/* main word display */
.result .word {
    margin-top: 1em;
}

.word-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-bottom: 1.25em;
}

.word-box h2 {
    margin-bottom: 0;
}

.word-box p {
    font-size: 1em;
    color: var(--grey);
}

.word h2 {
    font-size: 2em;
    color: var(--black);
    margin-top:auto;
}

.plus {
    margin: 0 .75em 0 .75em!important;
    font-size: 1.5em!important;
}

.arrow {
    margin-right: 1em;
}

.word h3:not(.chinese-chars-ext, .chinese-wrapper-ext, .ety-notes-leader) {
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    font-size: 2em;
    color: var(--black);
}

.variant-tag {
    position: absolute;
    margin-top: 0.15em;
    margin-left: 0.25em;
    font-size: 0.5em;
    color: var(--grey-red);
}

.note {
    font-size: 0.85em;
    color: var(--grey-green);
    font-family: "Crimson Text";
    font-style: italic;
}

/* redirected */
.redir-flex {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.25em;
}

.redir-word {
    color: var(--grey-red);
    font-weight: 600;
    font-style: italic;
    font-family: "Literata";
    font-size: .75em;
}

.redir-text {
    color: var(--grey);
    font-style: italic;
    font-family: "Literata";
    font-size: .75em;
}

/* toggle switch */
.toggle-wrapper {
    align-self: center;
    margin-left: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toggle-text {
    cursor: default!important;
    margin: 0.33rem;
    color: var(--grey);
}

.switch {
    display: inline-block;
    position: relative;
    justify-self: flex-end;
    width: 3em;
    height: 1.5em;
}

.switch input {
    opacity: 0;
    display: none;
    visibility: hidden;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg);
    -webkit-transition: 0.33s;
    transition: 0.33s;
    border-radius: 1.5em;
}
.slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .25s;
    transition: .25s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--purp);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--bg-shadow);
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.5em);
    -ms-transform: translateX(1.5em);
    transform: translateX(1.5em);
}

/* orthography display */
.ety-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ortho-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0em;
}

.ortho-container-ext {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 1em;
}

.origin-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
}

.ortho-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75em;
    word-wrap: break-word;
}

.ortho-box p {
    margin-top: 0;
}

.ortho-box h3 {
    font-size: 2em;
    word-wrap: break-word;
}

.non-bold {
    font-weight: normal!important;
}

.non-chinese {
    font-size: 1.75em!important;
}

.ortho-box h4 {
    font-size: 1.5em;
    margin: 0.15em 0 0.15em 0;
    font-weight: 500;
}

.ortho-box a:not(.cn) {
    color: var(--purp);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    text-decoration-color: var(--subh-lighter);
}

.ortho-box a .cn {
    color: var(--black);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    text-decoration-color: var(--subh-lighter);
}

.ortho-box .lit a {
    color: var(--purp);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-color: var(--subh-lighter);
}

.ortho-origin {
    margin-top: 0.25em!important;
    align-self: center;
    font-size: 1em;
    font-family: "Crimson Text";
    font-style: italic;
    color: var(--grey);
}

.ortho-arrow {
    margin-top: 0;
    align-self: center;
    font-size: 1em;
    font-family: "Crimson Text";
    font-style: normal;
    color: var(--black);
}

.ortho-origin-ext {
    margin-top: 0;
    font-size: 1em;
    font-family: "Crimson Text";
    font-style: italic;
    color: var(--grey);
}

.ortho-box-ext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.chinese-wrapper-ext {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.chinese-wrapper-ext h3 {
    margin: 0!important;
    margin-bottom: 0!important;
}

.chinese-chars {
    cursor: pointer;
    font-family: "SimSunCut",
        "SimSun-ExtB",
        "SimSun",
        SimSun-ExtB,
        SimSun,
        tauhu-oo-bold,
        PingFangTC-Bold, 
        Noto Sans TC,
        Noto Sans,
        "Microsoft JhengHei Bold";
        font-weight: normal;
}

.chinese-chars-ext {
    text-align: center;
    cursor: pointer;
    margin: 0;
    font-family: "SimSunCut",
        "SimSun-ExtB",
        "SimSun",
        SimSun-ExtB,
        SimSun,
        tauhu-oo-bold,
        PingFangTC-Bold, 
        Noto Sans TC,
        Noto Sans,
        "Microsoft JhengHei Bold";
        font-weight: normal;
}

.lang-romz-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
}

.roman-flex {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 1.75em;
}

.roman-flex-ext {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 0.75em;
}

.romanization {
    font-size: 0.67em;
    font-family: "Crimson Text";
    font-style: italic;
    color: var(--grey-red);
}

.ortho-roman {
    text-align: center;
    align-self: center;
    font-size: 1.25em;
    font-family: "Crimson Text";
    color: var(--bg-darken);
}

.ortho-lit-div {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 16em;
}

.lit {
    margin-top: 0;
    font-size: 0.75em;
    font-family: "Literata";
    font-style: italic;
    color: var(--grey-green);
    max-width: 16em;
    word-wrap: break-word;
    text-align: center;
}

/* ety notes */
.ety-notes-leader {
    font-family: "Crimson Text";
    font-weight: 600;
    font-style: italic;
}

.ety-notes-div {
    margin-left: 0.75em;
    max-width: 100%;
}

.ety-notes-div p {
    font-size: 0.85em;
    text-align: justify;
    font-family: "SimSunCut",
            "Literata",
            inherit;
}

.ety-notes-div a {
    text-decoration: underline;
    text-underline-offset: 3px;
}

/* etymology tooltip */
.ety-extend {
    color: var(--bg-darken);
    font-size: 1.75em;
}

.expand-text {
    color: var(--bg-darken);
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 0.8em;
}

.more-info-wrapper {
    display: block;
    margin-top: 1em;
    height: 1.25em;
}

.more-info-wrapper hr {
    transform: translateY(-1.33em);
}

.more-info-div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ttip-ety {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    flex-wrap: nowrap;
    z-index: 2;
    margin: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
    width: 5em;
    /* left: 50%;
    transform: translateX(-50%);
    bottom: 0%; */
    /* transform: translateY(-50%); */
    background-color: var(--offwhite);
}

.ttip-ety .tooltip-text {
    visibility: hidden;
    /* width: 9.5em; */
    background-color: color-mix(in srgb, var(--offwhite) 85%, transparent);
    color: var(--black);
    text-align: center;
    border-radius: 4px;
    border: 2px solid color-mix(in srgb, var(--bg-shadow-solid) 85%, transparent);
    padding: 0.5rem 0.75rem;
    position: absolute;
    transform: translateX(75%) translateY(70%);
    z-index: 3;
    font-size: 0.75em;
    box-shadow: 0 3px 8px var(--bg-shadow);
}

.ttip-ety:hover .tooltip-text,
.ttip-ety:focus-within .tooltip-text {
    visibility: visible;
}

/* ngram */
iframe {
    overflow: scroll;
    width: 100%;
    height: 13.5em;
    border: none;
    background: none;
    border-radius: 16px;
}

.ngram {
    height: 15em;
    width: 100%;
    margin: 0;
}

/* alts */
.alts-container {
    position: relative;
    margin-top: 1em;
    margin-bottom: .5em;    
}

.alts-flex {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 1em;
}

.alts-leader {
    color: var(--subh);
    font-family: "Crimson Text";
    font-size: 1.2em;
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
}

.alts-list {
    color: var(--grey);
    font-style: italic;
}

/* nyms */
.nyms-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-bottom: 0.5em;
}

.nyms-flex {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    row-gap: 0;
    column-gap: 1.25em;
    margin-left: .75em;
    flex-wrap: nowrap;
}

.nyms-flex-results {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    row-gap: 0;
    column-gap: 1.25em;
    flex-wrap: wrap;
}

.nyms-leader {
    font-family: "Crimson Text";
    font-size: 1.2em;
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
    margin-left: 0!important;
}

.synonyms-leader {
    color: var(--grey-green);
}

.antonyms-leader {
    color: var(--grey-red);
}

.refs-leader {
    margin-top: 2em;
    color: var(--black);
}

.credits-leader {
    color: var(--purp);
}

.credit {
    margin: 0.25em 0!important;
    font-size: 0.85em;
}

.nyms-list {
    color: var(--grey);
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
}

/* details */
#details {
    padding-top: 0;
}

.defs {
    margin: 0;
}

.defs-list {
    margin-bottom: 1.15em;
}

.defs-leader {
    color: var(--black);
    font-size: 1.4em;
    margin-bottom: 0;
}

.defs h3 {
    font-family: "Crimson Text";
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
}

.defs h3 :not(.defs-leader) {
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.defs h4 {
    font-family: "Crimson Text";
    font-weight: 600;
    font-style: italic;
    color: var(--bg-darken);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    font-size: 1.2em;
}

.defs h4 a {
    font-family: "Literata";
    font-weight: 600;
    font-style: italic;
    color: var(--bg-darken);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    font-size: 1.2em;
}

.defs p {
    margin-left: 0.5em;
    margin-bottom: 0.25em;
}

.definition {
    color: var(--black);
    text-align: justify;
    word-wrap: break-word;
    /* text-wrap: balance; */
    margin-top: 0.5em;
}

.details {
    color: var(--subh);
}

.details h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    font-family: "Crimson Text";
    font-weight: 600;
    font-style: italic;
}

.details p {
    margin-left: 0.5em;
}

.etym-a {
    color: var(--bg);
    border-bottom: 1.5px solid var(--subh);
}

.word-example {
    font-family: "SimSunCut", "Literata", inherit;
    font-style: italic;
    font-size: 1em;
    border-left: 5px solid var(--bg);
    padding-left: 1em;
    margin-top: .4em;
    margin-bottom: 0.25em;
    margin-left: -0.5em!important;
}

.word-example a i {
    font-family: "SimSunCut", "Literata";
}

.word-example b {
    font-family: "SimSunCut", "Literata";
}

.word-example-src {
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 0.75em;
    color: var(--grey);
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0.5em;
}

.nasal-text {
    font-size: 0.85em;
    color: var(--grey);
    font-style: italic;
}

/* home button */
.button-row {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1em;
}

.home-button {
    padding: .5em 1em;
    align-items: center;
    color: var(--black);
    background-color: var(--subh);
    font-family: "Literata";
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 0.75rem;
}

.home-button:hover {
    background-color: var(--subh-darker);
    box-shadow: 0 2px 8px var(--bg-shadow);
}

/* particles */
.particle h4 {
    font-weight: 500;
    color: var(--bg-darken);
}

.particle-wrapper {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 0.25em;
}

.particle-lead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5em;
}

.particle-wrapper h4 {
    margin: 0;
    color: var(--subh);
}

.particle-wrapper p {
    margin: 0;
    margin-bottom: 0.15em;
}

.particle-wrapper a {
    margin: 0!important;
}

.particle-dets {
    display: flex;
    flex-direction: column;
    margin-left: 0.75em;
}

.particle-dets .word-example {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    border-color: var(--subh);
}

.pt-effect {
    align-self: flex-start!important;
}

.pt-effect-text {
    align-self: flex-start;
    font-size: 1em;
    color: var(--grey);
    font-style: italic;
}

/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border: var(--black);
    z-index: 2;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    padding-top: 2px;
    padding-left: 0.5em;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 75vmin;
    background-color: color-mix(in srgb, var(--offwhite) 85%, transparent);
    color: var(--black);
    text-align: center;
    border-radius: 4px;
    border: 2px solid color-mix(in srgb, var(--subh-darker) 85%, transparent);
    padding: 0.5rem 0.25rem;
    position: absolute;
    transform: translateX(0.5em);
    z-index: 3;
    font-size: 0.75em;
    box-shadow: 0 3px 8px var(--bg-shadow);
}

.tooltip:hover .tooltip-text,
.tooltip:focus-within .tooltip-text {
    visibility: visible;
}

.q-tip {
    color: var(--subh-darker);
}

/* sources */
.sources {
    position: relative;
    margin: auto;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sources a{
    margin: 0.25em 1em;
}

.src-msg {
    font-family: "Crimson Text";
    font-size: 1em;
    color: var(--grey-green);
    font-style: italic;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* div icon */
.div-otter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: 2em;
    color: var(--bg-darken);
}

.div-hr {
    width: 100%;
    
}

/* prefix */
.prefix-list {
    margin-left: 0;
    list-style-type: '❧';
    list-style-position: outside;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
/* css specific to small screens width */
@media screen and (max-width: 630px) {
   .prefix-list {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}
@media screen and (max-width: 400px) {
   .prefix-list {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}

li::marker {
    color: var(--purp); 
}

.prefix-list li {
    font-family: "Crimson Text";
    margin-bottom: 0.6em;
    padding-left: 1em;
}

.prefix-list a {
    font-family: "Literata";
    font-style: italic;
    color: var(--black);
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: var(--subh-lighter);
}

.not-found {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: .5em;
}

.not-found-msg {
    font-family: "Crimson Text";
    font-size: 1em;
    color: var(--grey-green);
    font-style: italic;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.not-found p {
    color: var(--grey);
}

.not-found h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-family: "Crimson Text";
    font-weight: 600;
    font-style: italic;
    color: var(--black);
}

.not-found p {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-family: "Crimson Text";
    font-style: italic;
    color: var(--grey-red);
}

.not-found h4 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    font-family: "Crimson Text";
    font-weight: 600;
    font-style: italic;
    color: var(--grey-red);
}

/* footer */
footer {
    position: relative;
    height: .5em;
}

.footer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2em;
    margin-bottom: 5em;
}

.footer-card {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    min-width: 90%;
    max-width: 96%;
    padding: 0.5rem 1rem 1rem 1rem;
    background-color: var(--bg-shadow-solid);
    border-radius: 0.5rem;
}

.footer-hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
    height: 0;
    border-top: 2px solid var(--bg);
}

.footer-content {
    margin-left: .5em;
    padding-bottom: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5em;
}

.footer-signature {
    color: var(--subh);
    font-size: 0.9em;
    text-align: center;
}

.footer-nav-button {
    padding: 2px 12px;
    background-color: var(--grey);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.footer-nav-button:hover {
    opacity: 90%;
}

.footer-nav-item {
    color: var(--offwhite);
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5em;
}

/* sources */
.src-wrapper {
    display: table;
    margin: 1em 1em;
}

.src-line {
    display: table-row;
}

.src-col {
    display: table-cell;
}

.src-id {
    padding-right: 1em;
}

.ref-in-result-id {
    color: var(--black);
}

.ref-in-result {
    font-size: 0.75em;
}

.src-wrapper-in-result {
    display: table;
    margin: 0 0.25em;
}

.nolinkref {
    color: var(--black);
}

/* langs list */
.langs-head-div {
    padding: 0;
    margin: 0;
}

.langs-msg {
    font-family: "Crimson Text";
    font-size: 1em;
    color: var(--grey-green);
    font-style: italic;
    text-align: justify;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 0.25rem;
}

.langs-body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.langs-wrapper {
    display: table;
    border-collapse: collapse;
    margin: 1em 5%;
    align-self: center;
}

.langs-header {
    display: table-header-group;
    font-weight: bold;
    font-style: italic;
    color: var(--bg-darken);
    border-bottom: 1px solid #2c0912;
}

.langs-header-col {
    padding-bottom: 0.5em!important;
}

.langs-line {
    display: table-row;
}

.langs-col {
    display: table-cell;
    padding: 0.15em;
}

.langs-id {
    padding-right: 8vmin;
    font-style: italic;
}

.langs-percent-header {
    text-align: center;
}

.langs-count {
    text-align: right;
    padding-right: 2em;
}

.langs-percent {
    color: var(--grey-green);
    text-align: right;
    padding-right: .1em;
}

/* languages pie svg */
.pie {
    margin-top: 0;
    margin-bottom: 1.5em;
    /* border: 1px solid #000 */
    z-index: 2;
}

.pie-circle {
    fill: none;
    stroke-width: 10;
    transition: 0.25s;
    z-index: 1;
    cursor: pointer;
}

.pie-circle:hover,
svg g.is-active .pie-circle {
    stroke-width: 12;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

svg text {
    display: none;
    visibility: hidden;
    font-family: "Prata", "Literata",
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

svg g:hover .percent-text,
svg g.is-active .percent-text {
    display: block;
    visibility: visible;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

svg g:hover .lang-name-text,
svg g.is-active .lang-name-text {
    display: block;
    visibility: visible;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.percent-text {
    display: none;  
    font-size: 2.75px;
    color: var(--black);
    alignment-baseline: middle;
    text-anchor: middle;
    z-index: 0;
}

.lang-name-text {
    display: none;
    font-size: 3.25px;
    font-weight: bold;
    color: var(--black);
    text-anchor: middle;
    z-index: 2;
}


/* cats */
.cat-name {
    color: var(--subh);
}

.cats-list {
    margin-left: 1.5em;
    list-style-type: '❧';
    list-style-position: outside;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding: 0;
}

@media screen and (max-width: 480px) {
    .cats-list {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}

.cats-list li {
    font-family: "Crimson Text";
    margin-bottom: 0.6em;
    padding-left: 1em;
    margin-right: 1.25em;
    margin-left: 1.25em;
}

.cats-list a {
    font-family: "Literata";
    font-style: italic;
    color: var(--black);
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: var(--subh-lighter);
}

/* letters list page */
.letters-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letters-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.letter-a {
    color: var(--purp);
    font-size: 1.25em;
    text-decoration: underline;
    margin: 0 .25em 0 .25em;
}
.letter-no-a {
    color: var(--black);
    font-size: 1.25em;
    font-weight: bold;
    margin: 0 .25em 0 .25em;
}