:root {
    --bg: #A02333;
    --bg-darken: #951818;
    --bg-shadow-solid: #401313;
    --bg-shadow: #40131355;
    --offwhite: #f5f5fd;
    --black: #2c0912;
    --grey: #8a767d;
    --subh: #b99725;
    --subh-darker: #997705;
    --grey-green: #6d946d;
    --grey-red: #b46d8d;
}

html {
    background-color: darkslategrey;
}

body {
    margin: 20px auto;
    padding: 0 20px;
}

:not(ex) {
    font-family: "Literata";
}

input {
    width: 20em;
}

p,
h1,
a,
ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--offwhite);
}

.sameRow {
    display: flex;
    gap: 0.5em;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    margin-top: 10px;
    margin-bottom: 30px;
}

.title {
    font-size: 1.25em;
    color: var(--offwhite);
    font-family: "Prata";
}

.subpage-title {
    font-size: 1.5em;
    color: var(--black);
    font-family: "Prata";
    position: relative;
    text-align: center;
}

.detail-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* origins */
.option-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.option-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    background-color: #6d946d;
}

.origin-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
}

.property {
    color: var(--offwhite);
    margin: 0.5em 0;
    align-self: flex-end;
    justify-content: flex-start;
}

/* meanings */
.meaning-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    background-color: #786399;
}

/* particles */
.particle-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    background-color: #8a814f;
}

/* buttons */
.submit-button {
    align-self: flex-end;
    margin-top: 1em;
    font-size: 1.25em;
    padding: 0.5rem 1.5rem;
    background-color: var(--grey-green);
    color: var(--offwhite);
}

.sort-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1em;
    font-size: 1.25em;
    border: none;
    padding: 0.5rem 1.5rem ;
    background-color: var(--grey-red);
    color: var(--offwhite);
}

.add-btn {
    width: 2em;
    height: 2em;
}


/* footer */
footer {
    position: relative;
    height: .5em;
}

.footer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5em;
    margin-bottom: 5em;
}

.footer-content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
    min-width: 50vmin;
    max-width: 60vmin;
    padding: 0.5rem 4rem 1rem 4rem;
    border-radius: 0.5rem;
}

.footer p, 
.footer a {
    color: var(--subh);
    font-size: .85em;
}